.navMobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding-top: 70px;
    background-color: #0d364f;
    z-index: 5;
    @media (min-width: 767px) {
        display: none;
    }
}

.listMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    font-size: 25px;
    color: #fff;

}

.logoMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
}