.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.list {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        column-gap: 5px;
    }
}

.item {
    color: #222;

    transition: color 500ms ease;
}

.item:hover {
    color:#008080 ;
}

.lic {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 12px;
    }
}